<div class="jumbotron">
<h1>Trip Me</h1>
<p class="lead">Guarde todas as emocões das suas viagens em um só lugar!</p>
<p><%= link_to 'Cadastre-se já', new_user_registration_path, class: 'btn btn-lg btn-success' %></p>
</div>

<div class="row marketing">
<div class="col-lg-6">
  <h4>Diário</h4>
  <p>Todas as viagens costumam ter histórias extraodinárias e na maioria se perdem com o tempo. O Trip Me, vem com uma opção para criar diários com detalhes das suas aventuras. </p>

  <h4>Mural de Fotos por Países</h4>
  <p>Marque suas fotos nos pontos turisticos e consiga olhar outras fotos no mesmo lugar!!</p>

  <h4>Roteiros Compartilhados</h4>
  <p>Sabe aquela viagem dos sonhos, com hotel e restaurante que seus amigos fizeram? Agora você pode compartilhar todos os detalhes incluindo os custos!!</p>
</div>

<div class="col-lg-6">
  <h4>Acompanhe as viagens!</h4>
  <p>Seus amigos viajaram e não deu tempo de você fazer as malas e ir junto? Não é mais um problema, acompanhe todas as aventuras com uma serie de videos e relatos sobre os lugares fantasticos que eles estão conhecendo.</p>

  <h4>O que levar??</h4>
  <p>Listas personalisadas feitas por blogueiros famosos do que levar para sua viagem ser ainda mais perfeita!!.</p>

  <h4>Dica do viajante</h4>
  <p>Dicas de pessoas que viajam o mundo, onde comer, o que fazer e tudo mais além dos pontos turisticos.</p>
</div>
</div>
